<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Mi Primera Pagina</title>
    <link rel="stylesheet" href="index.css">
<!-- Estilo de letras con fuente de google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ponomar&display=swap" rel="stylesheet">
</head>
<body>
  <h1> El mundo de Valentina y Suri </h1>    
  <p>El mundo de Suri es muy silencioso y el de Valentina lleno de amor y caramelos</p>
  
  <div class="imagenes">
    <img src="valentina.jpeg">
    <img src ="Suri.jpeg"> 
  </div>

  <h2>Atributos de mascotas</h2>
  <ul>
    <li>Las mascotas son fieles </li>
    <li>Las mascotas son buenas compañias</li>
    <li>Las mascotas son amigables</li>
  </ul>
</body>
</html>